/IQA/No_Reference/Feature_SVR/datasets/MDID2013/MDID2013/
/IQA/No_Reference/Feature_SVR/datasets/MDID2016/distortion_images/
/IQA/No_Reference/Feature_SVR/datasets/MDID2016/reference_images/
/IQA/No_Reference/Feature_SVR/datasets/MLIVE/Part\ 1/
/IQA/No_Reference/Feature_SVR/datasets/MLIVE/Part\ 2/
/IQA/No_Reference/Feature_SVR/methods/*/cost_gamma_optimization/
/IQA/Full_Reference/train_free/datasets/MLIVE/Part\ 1/
/IQA/Full_Reference/train_free/datasets/MLIVE/Part\ 2/
/IQA/Full_Reference/train_free/datasets/MDID/distortion_images/
/IQA/Full_Reference/train_free/datasets/MDID/reference_images/
/IQA/Full_Reference/train_free/datasets/MDID2013/MDID2013/
/IQA/Full_Reference/train_free/datasets/CSIQ/dst_imgs/
/IQA/Full_Reference/train_free/datasets/CSIQ/src_imgs/
/IQA/Full_Reference/train_free/datasets/KADID10K/images/
/IQA/Full_Reference/train_free/datasets/LIVE/fastfading/
/IQA/Full_Reference/train_free/datasets/LIVE/gblur/
/IQA/Full_Reference/train_free/datasets/LIVE/jp2k/
/IQA/Full_Reference/train_free/datasets/LIVE/jpeg/
/IQA/Full_Reference/train_free/datasets/LIVE/refimgs/
/IQA/Full_Reference/train_free/datasets/LIVE/wn/
/IQA/Full_Reference/train_free/datasets/QACS/HEVC420/
/IQA/Full_Reference/train_free/datasets/QACS/ORG/
/IQA/Full_Reference/train_free/datasets/SCC444/
/IQA/Full_Reference/train_free/datasets/QADS/QADS/source_images/
/IQA/Full_Reference/train_free/datasets/QADS/QADS/super_resolved_images/
/IQA/Full_Reference/train_free/datasets/SCID/DistortedSCIs/
/IQA/Full_Reference/train_free/datasets/SCID/ReferenceSCIs/
/IQA/Full_Reference/train_free/datasets/SIQAD/DistortedImages/
/IQA/Full_Reference/train_free/datasets/SIQAD/references/
/IQA/Full_Reference/train_free/datasets/TID2008/distorted_images/
/IQA/Full_Reference/train_free/datasets/TID2008/reference_images/
/IQA/Full_Reference/train_free/datasets/TID2013/distorted_images/
/IQA/Full_Reference/train_free/datasets/TID2013/reference_images/
*.swp
*spear_*.mat
*thousand_spears_*.mat
*.aux
*.log
